<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<title>Fibonacci | Series</title>

	<style>
	.card {
	    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	    transition: 0.3s;
	    width: 40%;
	}
	.card:hover {
	    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
	}
	.container {
	    padding: 2px 16px;
	}
	.sub_btn {
		color: #fff;
	    font-weight: 600;
	    background: #28a745;
	}
	.post_form {
		border: 1px solid #20c997;
		border-radius: 5px;
    	padding: 20px;
	}
	</style>
</head>

<body style="background-color: #eee !important;">
	<section class='wrapper'>
		<div class="container">
	        <div class="inner" style='margin: 50px auto;'>
	    		<div class='row justify-content-center'>	
					<div class='col-md-10 col-sm-6 col-sm-offset-3'>
						<div class='card card-primary' style='width: 100%;padding: 40px;'>
							<div class="home" style='text-align: center;'>
								<a href="/"><i class="material-icons" style="font-size:36px">home</i></a> 
							</div>
							<div class="card-heade page-header" style='padding: 12px;margin: 0 auto;'>	
								<h3 class="card-title">
									Fibonacci Sequence Till Nth Number
								</h3>
							</div>
							<div class='post_form'>
								<form method='POST' name='fibb' id='fibonacci-form'> 
									{%csrf_token%}
								
									<b>Enter the value of N :</b> <input type="number" name="num" id='numb' onkeypress='validate(event)' required> <br><br>
									<div id='results'> 
										<p>
											<strong style='color:#1a0000;'>
												The <em style='color:#0A3D8C;text-decoration: underline;'>{{ number }}th</em> Term of the Fibonacci Series is <em style='color:#0A3D8C;text-decoration: underline;'> <b>{{ value }}</b></em>.
												
												<p>
													Total computation time is <em style='color:#0A3D8C;text-decoration: underline;'>{{ computation_time }}</em> seconds. 
												</p>
											</strong>
										</p>
									</div> 
									<br>
									<p id="negative"></p>
									<div class='sub' style='text-align:center'> 
										<button class="btn btn-default btn-xs sub_btn" type='Submit' id='submit'>submit</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
	        </div>
		</div>
	</section>

<!-- Optional JavaScript -->	
<script>
function validate(evt) {
  var theEvent = evt || window.event;
  var key = theEvent.keyCode || theEvent.which;
  key = String.fromCharCode( key );
  var regex = /[0-9]|\./;
  if( !regex.test(key) ) {
    theEvent.returnValue = false;
    if(theEvent.preventDefault) theEvent.preventDefault();
  }
}
</script>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
</body>
</html>